
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');

body{
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(22, 20, 20, 0.897);
}

#box{
  
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 20px;
  color: white;
  /* height: 100vh; */
  border: 2px solid rgb(9, 155, 204);
}
#main input{
  width: 80%;
  border-top: none;
  border-right:none;
  background: none;
  border-left: none;
  border-bottom: solid 2px rgb(58, 140, 218);
  color: white;

}
#main input:focus{
 outline: none;
 border-bottom: solid 2px rgb(58, 140, 218);
 color: white;
}
